/* Add CSS Styling */

.the-first-element {
    background-color: black;
    color: white;    
}

.the-second-element {
    background-color: yellow;
}

.the-first-element,
.the-second-element {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}